.App {
  text-align: center;
}

.App-header {
  background-color: #24292e;
  height: 80px;
  padding: 20px;
  color: #ffff;
}
table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}
.footer {
  margin: 15px 2px;
  text-align: center;
  text-decoration-style: double;
  background-color: #24292e;
  height: 30px;
  padding: 20px;
  color: #ffff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
